tr{
padding: 10px;
}

td{
border: 0px solid black;
}

.kép{
    width: 125px;
}

h1{
    color: #999999;
    text-align: left; 
}

img{
    text-align: center;
}

.jobb{
    text-align: red;
}

.bal{
    text-align: black;
}

table, tr, td{
    border: 0px solid #000
/*border-spacing: 40px*/; 
    text-align: right;
}

td{
    text-align: left;
}

p {
    text-indent: 10px;
    text-align: justify;
    text-decoration: dotted;
  }
