#logo {
    padding-left: 30px;
}

nav {
    background: linear-gradient(90deg, #2f1624, #ab1e4c);
}

.nav-link {
    color: white;
    padding-left: 15px;
}
table {
    margin: auto;
    
}
td {
    color: #8a1538;
}

section {
    margin-top: 20px;
}

p {
    text-align: justify;
}

footer {
    background: linear-gradient(90deg, #2f1624, #ab1e4c);
    padding: 15px;
    height: 60px;
    text-align: center;
    color: white;
}
h2 {
    color:green;
}
.bal {
    float: left;
    width: 30%;
}

.jobb {
    float: right;
    width: 70%;
}
table {
    margin: auto;
    border-collapse: collapse;
    width: 50%;
}

th {
    background-color: #8a1538;
    color:black;
}
section {
    margin-top: 20px;
}

p {
    text-align: justify;
}
u {
    list-style-type: circle;
}