body{
    color: black;
    background-color: url(/2022.12.13.vizsgara/hatter.png)    
}
a {
    color: #C0C0C0;
}
a:visited {
    color: #C0C0C0;
}
a:active {
    color: #C0C0C0;
}
a:hover {
    color: #C0C0C0;
}
